#container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
  grid-template-areas: ". . ."
                       ". hd ."
                       ". bd ."
                       ". ft ."
                       ". . .";
  height: 100vh;
}

#heading {
  background-color: cadetblue;
  display: grid;
  grid-area: hd;
}

#body-content {
  background-color: cornflowerblue;
  display: grid;
  grid-area: bd;
}

#footer {
  background-color: darkgrey;
  display: grid;
  grid-area: ft;
}

